<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="P2.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 1</title>
    <script src="P1.js">
        console.log("asdf");
    </script>
</head>
<body>
    <h1>Lewis Hamilton And Mercedes-AMG Petronas</h1>
    <h1>Formula One Team</h1>
    <p>The Billion Dollar Man</p>
    <h2>"I know I'm as good as Ayrton Senna was."</h2>
 
    <div> 
        <img src="https://ichef.bbci.co.uk/live-experience/cps/1248/cpsprodpb/A2DC/production/_89829614_hamiltonfist_ap3.jpg" height="390px">
        <img src="https://th.bing.com/th/id/R.e1cbe64b77204f8444ee3dfd796e1553?rik=N%2bJeYJQd8CkdVw&pid=ImgRaw&r=0" height="390px">  
    </div> 
    <a></a>
    <p><a></a></p>
    <p><a id="mercedes" href="https://www.mercedesamgf1.com/en/">Mercedes-AMG Petronas Formula One Team</a></p>
    <div> 
        <img src="https://www.mercedesamgf1.com/en/sustainability/_jcr_content/root/slider/sliderchilditems/slideritem/image/MQ7-0-image-20220802112337/00_M231875_4252.jpeg" height="390px">
    </div> 
        <p>“What happens on the track is inextricably linked to what happens in the world outside, and that drives the entire team to continually go faster and further.”</p>
        <p>By Toto Wolff</p>
        <p>Click the button to go directly to mercedesamgf1.com</p>

        <button onclick="myFunction()">Try it</button>

        <p id="demo"></p>

</body>
</html>

